{% if currencies|length > 1 %}
	<div class="box-currency">
		<form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-currency">
			<div class="btn-group toggle-wrap">
				<span class="toggle">
					{% for currency in currencies %} 
						{% if (currency['symbol_left'] and currency['code'] == code) %} 
						<span class="hidden-lg hidden-md hidden-sm">{{ currency['code'] }}</span>
						<span class="hidden-xs">{{ currency['title'] }}</span>
						{% elseif (currency['symbol_right'] and currency['code'] == code) %}				
						<span class="hidden-lg hidden-md hidden-sm">{{ currency['code'] }}</span>
						<span class="hidden-xs">{{ currency['title'] }}</span>
						{% endif %} 
					{% endfor %}
				</span>
				<ul class="toggle_cont pull-right">
					{% for currency in currencies %}
						{% if (currency['symbol_left']) %}
							{% if (currency['code'] == code) %}
								<li>
									<button class="currency-select selected" type="button" name="{{ currency['code'] }}">
										{{ currency['symbol_left'] }}
										{{ currency['title'] }}
									</button>
								</li>
							{% else %}
								<li>
									<button class="currency-select" type="button" name="{{ currency['code'] }}">
										{{ currency['symbol_left'] }}
										{{ currency['title'] }}
									</button>
								</li>
							{% endif %}
						{% else %}
							{% if (currency['code'] == code) %}
								<li>
									<button class="currency-select selected" type="button" name="{{ currency['code'] }}">
										{{ currency['symbol_right'] }}
										{{ currency['title'] }}
									</button>
								</li>
							{% else %}
								<li>
									<button class="currency-select" type="button" name="{{ currency['code'] }}">
										{{ currency['symbol_right'] }}
										{{ currency['title'] }}
									</button>
								</li>
							{% endif %}
						{% endif %}
					{% endfor %}
				</ul>
			</div>
			<input type="hidden" name="code" value="" />
			<input type="hidden" name="redirect" value="{{ redirect }}" />
		</form>
	</div>
{% endif %}