<div id="search" class="search">
	<input type="text" name="search" value="{{search}}" placeholder="{{ text_placeholder ~ '...' }}"/>
	<button type="button" class="button-search"><span class="fa fa-search"></span></button>
</div>