<div id="zemez-newsletter" class="box newsletter">	
	<div class="box-heading"><h3>{{ text_newsletter }}</h3></div>
	<div class="box-content">
		{% if description %}<p class="newsletter-description">{{ description }}</p>{% endif %}
		<form method="post" enctype="multipart/form-data" id="zemez-newsletter-form">
			<div class="zemez-login-form">
				<label class="control-label" for="input-zemez-newsletter-email"></label>
				<input type="text" name="zemez_newsletter_email" value="" placeholder="{{ entry_mail }}"
				id="input-zemez-newsletter-email" class="form-control"/>
			</div>
			<button type="submit" id="zemez-newsletter-button" class="btn-primary btn-invert">{{button_subscribe}}</button>
			<span id="zemez-newsletter_error" class="newsletter-error"></span>
			<span id="zemez-newsletter_success" class="newsletter-success"></span>
		</form>
	</div>
</div>
<script>
	$(document).ready(function () {
		$('#zemez-newsletter').submit(function (e) {
			e.preventDefault();
			var email = $("#input-zemez-newsletter-email").val();
			var emailRegex = /^[A-Z0-9._%+-]+@[A-Z0-9.-]+.[A-Z]{2,4}$/igm;
			if (emailRegex.test(email)) {
				var dataString = 'zemez_newsletter_email=' + email;
				$.ajax({
					type: "POST",
					url: "index.php?route=extension/module/zemez_newsletter/addNewsletter",
					data: dataString,
					cache: false,
					success: function (result) {
						if (!result){
							$('#zemez-newsletter_error').html('');
							$('#zemez-newsletter_success').stop(true, true).html('{{text_success}}').fadeIn(300).delay(4000).fadeOut(300);
						} else {
							$('#zemez-newsletter_success').html('');
							$('#zemez-newsletter_error').stop(true, true).html(result).fadeIn(300).delay(4000).fadeOut(300);
						}
					}
				});
			} else {
				$('#zemez-newsletter_success').html('');
				$('#zemez-newsletter_error').stop(true, true).html('{{error_invalid_email}}').fadeIn(300).delay(4000).fadeOut(300);
			}
		});
	});
</script>