<div class="col-xs-12 col-sm-4 col-md-4">
	<div class="instagram">
		<div class="box-heading">
			<h3>{{heading_instagram_title}}</h3>
		</div>
		<div class="content">
			<div id="instafeed" class="clearfix"></div>
		</div>
	</div><div class="clear"></div>
</div>

<script type="text/javascript">
	var userFeed = new Instafeed({
		{% if _get == 'tagged' %}
		get : 'tagged',
		tagName : '{{ tag_name }}',
		{% else %}
		get : 'user',
		userId : '{{ user_id }}',
		{% endif %}
		accessToken: '{{ accesstoken }}',
		limit: '{{ limit }}',
		resolution: "low_resolution",
		template: '<a href="\{\{link\}\}" class="instagram__item"> <img src="\{\{image\}\}" width="\{\{width\}\}" height="\{\{height\}\}" alt="" class="image"> <div class="activities"> <span class="likes"><i class="fa fa-thumbs-o-up"></i> \{\{likes\}\}</span> <span class="comments"><i class="fa fa-comments-o"></i> \{\{comments\}\}</span> </div> <div class="location">\{\{location\}\}</div> <div class="caption">\{\{caption\}\}</div> </a>'
	});
	userFeed.run();
</script>