{% if (articles) %} 
<div class="box blog_articles">
	<div class="box-heading">
		<h3>{{heading_blog_title}}</h3>
	</div>
	<div class="box-content">
		<div class="row mobile-carousel">
			{% for article in articles %} 
			<div class="col-sm-6">
				<div>				
					{% if (show_image == 1) %} 
						<figure class="article-image">
							<img width="{{article['image_width']}}" height="{{article['image_height']}}" src="{{article['image']}}" alt="{{article['article_title']}}"/>
						</figure>
					{% endif %}
					<div class="tx-block">
						<div class="article-title"><a href="{{article['href']}}">{{article['article_title']}}</a></div>					
						{% if (show_date == 1) %}
							{% if (show_date == 1) %}
								<span class="article-date"> {{article['date_added']}}</span>
							{% endif %}
						{% endif %}
						{% if (show_description and article['description']) %} 
							<div class="article-description">{{article['description']}}</div>
						{% endif %}									
						{% if (show_readmore == 1) %} 
							<a href="{{article['href']}}" class="btn-primary">{{text_button_continue}}</a>
						{% endif %}	
						{% if (show_author == 1 or show_comments == 1) %}
							<div class="article-sub-title">						
								{% if (article['allow_comment'] and show_comments == 1) %} 
									<span class="article-comments fa fa-comments-o"><a href="{{article['comment_href']}}">{{article['total_comment']}}</a></span>
								{% endif %}
								{% if (show_author == 1) %}
									<span class="article-author fa fa-user"><a href="{{article['author_href']}}">{{article['author_name']}}</a></span>
								{% endif %}
							</div>
						{% endif %}
					</div>
				</div>
			</div>
			{% endfor %} 
		</div>
	</div>
</div>
{% else %} 
<div class="buttons">
	<div class="center">{{text_no_found}}</div>
</div>
{% endif %}