<div class="col-xs-6 col-sm-3 col-md-2">
	<h3 class="box-heading">{{ text_more }}</h3>
	<ul class="box-content list-unstyled">
		<li><a href="{{ store }}">{{ text_store }}</a></li>
		<li><a href="{{ wishlist }}">{{ text_wishlist }}</a></li>
		<li><a href="{{ lookbook }}">{{ text_lookbook }}</a></li>
	</ul>
</div>