/*------------------------*/
@media (min-width: 768px) {
  header .nav > .toggle_cont > li > a,
  header .nav > .toggle_cont > li > a:visited {
    color: #000000;
  }
}
.button-view a,
.button-view button,
a,
a:visited,
a:focus {
  color: #000000;
}

span.swiper-pagination-bullet,
.swiper-slider span.swiper-pagination-bullet,
.zemez-deal-banner__countdown {
  background-color: #000000;
}

.box-language .toggle.active,
.box-language .toggle:hover,
.box-currency .toggle.active,
.box-currency .toggle:hover,
#account-account h3 i,
.manufacturer-content div a:before,
#content ul.list-unstyled a:before,
a:hover,
.sbToggle:hover,
.sbOptions li a:hover,
.nav-tabs li.active > a,
.nav-tabs li.active > a:focus,
.nav-tabs li.active > a:hover,
.nav-tabs > li > a:hover,
.btn-icon:hover,
.btn-icon:focus,
.btn-icon:active,
.search button:hover,
.search button:focus:hover,
.search button:active:hover,
.sf-menu .sf-mega li.sfHover > a,
.sf-menu .sf-mega li > a:hover,
.sf-menu .sf-mega li > a.active,
.sf-menu ul li.sfHover > a,
.sf-menu ul li > a:hover,
.sf-menu ul li > a:focus,
.sf-menu ul li > a:active,
.sf-menu ul li > a.active,
.box-cart .btn-danger:hover,
.box-cart .btn-danger:focus:hover,
.fa-stack i.star,
.counter:hover,
.counter:focus:hover,
.agree:hover b,
.ajax-quickview-images .next-img,
.ajax-quickview-images .prev-img,
.link:focus, .link:visited,
#list-view:hover,
#grid-view:hover,
#list-view.active,
#grid-view.active,
input[type="checkbox"] + label:after,
.pagination > li.active > a,
.pagination > li.active > a:hover,
.pagination > li.active > a:focus,
.pagination > li.active > span,
.pagination > li.active > span:hover,
.pagination > li.active > span:focus,
.pagination > li > a:hover,
.pagination > li > a:focus,
.pagination > li > span:hover,
.pagination > li > span:focus,
.general_info a,
.breadcrumb a:hover,
.breadcrumb a:hover i,
.product-rating-status .review-link-show a:hover,
.count-box strong,
.icon-box i,
.testimonials blockquote:before,
.terms_conditions_page h4:before,
.contact_page .icon:before,
.bootstrap-datetimepicker-widget td.day:hover,
.bootstrap-datetimepicker-widget td.minute:hover,
.bootstrap-datetimepicker-widget td.hour:hover,
.bootstrap-datetimepicker-widget td.second:hover,
.bootstrap-datetimepicker-widget thead tr:first-child th:hover,
.bootstrap-datetimepicker-widget td span:hover,
.datepicker .prev:hover,
.datepicker .prev.active,
.datepicker .next:hover,
.datepicker .next.active,
.datepicker .day:hover,
.datepicker .day.active,
.datepicker .year:hover,
.datepicker .year.active,
.datepicker .month:hover,
.datepicker .month.active,
.datepicker .picker-switch:hover,
.datepicker .picker-switch.active,
.article-date a:hover,
.article-comments a:hover,
.article-author a:hover,
aside #blog-search a:hover,
.article-title a:hover,
.article-sub-title span:before,
.article-comment .reply-message a,
.article-comment .reply-message a:visited,
.article-comment .comment-date:before,
.reply-cancel,
.cart-remove-btn,
.cart-remove-btn:visited {
  color: #e8caba;
}

.navigation,
.box-language .toggle_cont > li > a:hover,
.box-language .toggle_cont > li > a.selected,
.box-language .toggle_cont > li > button:hover,
.box-language .toggle_cont > li > button.selected,
.box-currency .toggle_cont > li > a:hover,
.box-currency .toggle_cont > li > a.selected,
.box-currency .toggle_cont > li > button:hover,
.box-currency .toggle_cont > li > button.selected,
.squares .square:before,
input[type="radio"]:checked + label:after,
.box.category a .category_name span:after,
span.swiper-pagination-bullet:hover,
span.swiper-pagination-bullet-active,
.swiper-slider span.swiper-pagination-bullet:hover,
.swiper-slider span.swiper-pagination-bullet-active,
#livesearch_search_results li:hover,
#livesearch_search_results li.highlighted,
.zemez-deal-banner__description,
.zemez-deal-banner__image,
.carousel-block .swiper-slide a:hover,
.toggle_cont > li > a:hover,
.toggle_cont > li > a:focus,
.toggle_cont > li > a:active,
.toggle_cont > li > button:hover,
.toggle_cont > li > button:focus,
.toggle_cont > li > button:active,
header .header-btn,
.banners .bg-color .banner-box,
.ui-to-top:focus,
.ui-to-top:hover,
.thumbnail a,
.privacy_page ol li h4:before,
.bootstrap-datetimepicker-widget td.day.active,
.bootstrap-datetimepicker-widget td.day.active:hover,
.site-map-page #content ul.category-list:before,
.site-map-page #content ul.category-list > li:before,
.site-map-page #content ul.category-list > li:after,
.rd-mobilemenu_ul a:hover {
  background-color: #e8caba;
}

.carousel-block .swiper-slide a:hover,
.icon-box i,
.contact_page .icon:before {
  border-color: #e8caba;
}

header .header-btn {
  color: #fff;
}

.link:hover,
.general_info a:hover,
.article-comment .reply-message a:hover,
.article-comment .reply-message a:focus,
.article-comment .reply-message a:active,
.reply-cancel:hover,
.cart-remove-btn:hover,
.cart-remove-btn:visited:hover {
  color: #000000;
}

@media (min-width: 768px) {
  header .nav > .toggle_cont > li > a:hover,
  header .nav > .toggle_cont > li > a:focus,
  header .nav > .toggle_cont > li > a:active,
  header .nav > .toggle_cont > li > a.current {
    color: #e8caba;
  }
}
.btn, .btn:visited, .btn-default, .btn-default:visited, .btn-primary, .btn-primary:visited, .btn-success, .btn-success:visited, .btn-info, .btn-info:visited, .btn-warning, .btn-warning:visited, .btn-danger, .btn-danger:visited {
  background-color: #2b2b2b;
}
.btn:hover, .btn:focus, .btn:active, .btn:active:focus, .btn:active:hover, .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default:active:focus, .btn-default:active:hover, .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:active:focus, .btn-primary:active:hover, .btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success:active:focus, .btn-success:active:hover, .btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info:active:focus, .btn-info:active:hover, .btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning:active:focus, .btn-warning:active:hover, .btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger:active:focus, .btn-danger:active:hover {
  background-color: #000000;
}

.btn-primary, .btn-primary:visited {
  background-color: #e8caba;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:active:focus, .btn-primary:active:hover {
  background-color: #dbad94;
}

.product-btn, .product-btn:visited {
  color: #e8caba;
}
.product-btn:hover, .product-btn:focus, .product-btn:active {
  color: #000000;
}

.banners .banner-box:hover .link {
  background-color: rgba(245, 231, 224, 0.5);
}

.zemez-deal-banner:hover .zemez-deal-banner__description {
  background-color: #e4c1af;
}

span.swiper-pagination-bullet:hover, span.swiper-pagination-bullet-active,
.swiper-slider span.swiper-pagination-bullet:hover,
.swiper-slider span.swiper-pagination-bullet-active {
  background-color: #e8caba;
}

.sf-menu .simple_menu li.sfHover > a, .sf-menu .simple_menu li > a:hover, .sf-menu .simple_menu li > a.active {
  color: #000000;
}

.sf-menu .simple_menu li.active > a,
.sf-menu .simple_menu a:hover,
.sf-menu .simple_menu li.sfHover > a {
  color: #e8caba;
}

.swiper-container div.swiper-button-prev, .swiper-container div.swiper-button-next {
  color: #e8caba;
}
.swiper-container div.swiper-button-prev:hover, .swiper-container div.swiper-button-next:hover {
  color: #fff;
  background-color: #e8caba;
}

header .header-btn:hover, header .header-btn:focus, header .header-btn:active {
  background-color: #dbad94;
}

.ajax-quickview-images .next-img:hover,
.ajax-quickview-images .prev-img:hover {
  background-color: #e8caba;
}

@media (max-width: 767px) {
  .cart > button i {
    color: #000000;
  }
  .cart > button:hover i {
    color: #e8caba;
  }
}
