input[type="radio"] + label {
  padding-left: 20px;
  padding-right: 30px;
}
input[type="radio"] + label:before {
  right: 0;
  left: auto;
}
input[type="radio"] + label:after {
  right: 2px;
  left: auto;
}

.product-options .checkbox label {
  text-align: right;
  padding: 5px 45px 5px 5px;
}
.product-options .checkbox label:before, .product-options .checkbox label:after {
  right: 13px;
  left: auto;
}

div.required .control-label:after {
  margin-left: 0;
  margin-right: 5px;
}

.product-list .product-thumb .aside .product-btn {
  float: right;
}

[data-clear] + .product-layout {
  clear: right;
}

.text-left {
  text-align: right;
}

.text-right {
  text-align: left;
}

.pull-right {
  float: left !important;
}

.pull-left {
  float: right !important;
}

.discount {
  direction: ltr;
}

.product_model.model > p {
  display: inline-block;
}

.alert {
  padding: 18px 75px 18px 40px;
}
.alert i {
  right: 0;
  left: auto;
}
.alert button.close {
  left: 15px;
  right: auto;
}

.sbHolder {
  text-align: right;
}

.sbToggle {
  left: 0;
  right: auto;
}

.sbSelector {
  right: 0;
  left: 30px;
}

.product-filter label {
  margin: 0 10px 0 5px;
}

.product-filter_elem {
  float: right !important;
}
.product-filter_elem.pull-right {
  float: left !important;
}

.article-sub-title {
  display: block;
}
.article-sub-title:before, .article-sub-title:after {
  display: table;
  content: "";
  line-height: 0;
}
.article-sub-title:after {
  clear: both;
}
.article-sub-title > span {
  position: relative;
  padding-right: 25px;
  display: inline-block;
}
.article-sub-title > span:before {
  position: absolute;
  right: 0;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: 0;
}
.article-sub-title > span + span {
  margin-left: 0;
  margin-right: 20px;
}

.article-description ul li, .article-description ol li {
  padding-left: 0;
  padding-right: 50px;
}
.article-description ul li:before, .article-description ol li:before {
  right: 0;
  left: auto;
}

.product-thumb .image .rating {
  left: auto;
  right: 10px;
}

.article-comment .author {
  float: right;
}
.article-comment .reply-message {
  float: left;
}

.reply-cancel {
  text-align: left;
}

.product-gallery {
  direction: ltr;
}

.pagination > li + li {
  margin-left: 0;
  margin-right: 41px;
}

.contact_page .icon {
  padding-left: 0;
  padding-right: 70px;
}
.contact_page .icon:before {
  right: 0;
  left: auto;
}

.toggle_cont > li > a, .toggle_cont > li > button {
  text-align: right;
  padding: 5px 10px 5px 5px;
}

.toggle_cont__right {
  right: 0;
  left: auto;
}

.testimonials .owl-nav {
  direction: ltr;
}

.human_info .thumbnail {
  float: right;
  margin-left: 20px;
  margin-right: 0;
}
.human_info p {
  text-indent: 0;
  direction: rlt;
}

/*------------------------------------*/
.header-top .btn-wishlist {
  float: left;
  margin-left: 0;
  margin-right: 21px;
}
.header-top .nav {
  float: left;
}
@media (min-width: 768px) {
  .header-top .nav {
    margin-left: 0;
    margin-right: 34px;
  }
}
.header-top .box-currency, .header-top .box-language {
  float: left;
}

.box-language, .box-currency {
  margin-left: 0;
  margin-right: 17px;
}

.toggle_cont > li > a i {
  margin-right: 0;
  margin-left: 8px;
}

.header-top .btn-wishlist i {
  margin-right: 0;
  margin-left: 5px;
}

.search input[type="text"] {
  padding-left: 35px;
  padding-right: 30px;
}
.search button, .search button:focus, .search button:active {
  right: auto;
  left: 13px;
}

#livesearch_search_results li img {
  float: right;
  margin-right: 0;
  margin-left: 10px;
}

header {
  text-align: right;
}
header .logo {
  float: right;
  text-align: right;
}
header .search, header .header-btn {
  float: right;
}
header .header-btn {
  padding-right: 35px;
  padding-left: 10px;
  margin-left: 0;
  margin-right: 20px;
}
header .header-btn:before {
  left: auto;
  right: 11px;
}
header .header-btn.fa-star {
  padding-right: 35px;
  padding-left: 15px;
}
header .header-btn + .header-btn {
  margin-left: 0;
  margin-right: 15px;
}

.sf-menu .sf-mega_section {
  float: right;
}

.sf-menu > li {
  float: right;
}
.sf-menu > li > .sf-with-ul:after {
  margin-left: 0;
  margin-right: 6px;
  float: left;
}

@media (min-width: 768px) {
  header .nav > .toggle_cont .toggle_cont {
    right: auto;
    left: 0;
  }
}
.ajax-overlay .product-options .ajax-overlay_close {
  right: auto;
  left: 10px;
}

.fancybox-close {
  right: auto;
  left: -18px;
}

.product-btn i {
  margin-right: 0;
  margin-left: 9px;
}

.product-options .control-label {
  text-align: right;
}

.option-radio .radio {
  float: right;
}
.option-radio .radio + .radio {
  margin-left: 0;
  margin-right: 10px;
}
.option-radio .radio input[type="radio"] + label {
  padding-left: 0;
  padding-right: 19px;
}

input[type="checkbox"] + label {
  padding-left: 0;
}
input[type="checkbox"] + label:before, input[type="checkbox"] + label:after {
  left: auto;
  right: 0;
}

.product-list .product-thumb .image, .product-list .product-thumb .aside {
  float: right;
}
.product-list .product-thumb .aside {
  padding-left: 0;
  padding-right: 30px;
}
.product-list .product-thumb .aside .product-btn {
  border-right: none;
  padding-right: 0;
  margin-right: 0;
  border-left: 1px solid #e8e8e8;
  padding-left: 20px;
  margin-left: 15px;
}

.product-options .radio input[type="radio"] + label {
  padding-left: 5px;
  padding-right: 45px;
  text-align: right;
}
.product-options .radio input[type="radio"] + label:before {
  left: auto;
  right: 13px;
}
.product-options .radio input[type="radio"] + label:after {
  left: auto;
  right: 15px;
}

.quantity .counter {
  right: auto;
  left: 0;
}

.account-account h3 i {
  margin-right: 0;
  margin-left: 16px;
  float: right;
}

.manufacturer-content div a:before, #content ul.list-unstyled a:before {
  float: right;
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

@media (min-width: 768px) {
  .navigation .box-cart {
    right: auto;
    left: 15px;
  }
}
.toggle_cont {
  right: auto;
  left: 0;
}

.html-module.html-1 > .content > ul {
  padding-right: 0;
}

.swiper-slide .btn-slide {
  float: right;
}

.product-thumb .image .cart-button {
  right: auto;
  left: 25px;
}

.product-countdown {
  left: auto;
  right: 10px;
}
.product-countdown li {
  float: right;
}

.product-layout.col-lg-4:nth-child(3n+1) {
  clear: right;
}

.tm-deal-banner__countdown {
  left: auto;
  right: 10px;
}
.tm-deal-banner__countdown .simple-countdown > div {
  float: right;
}
.tm-deal-banner__countdown .simple-countdown > div.cell + .cell {
  padding-left: 2px;
  padding-right: 8px;
}
.tm-deal-banner__countdown .simple-countdown > div.cell + .cell:before {
  left: auto;
  right: 0;
}

.banners > div.banner-9 .s-desc > div {
  left: auto;
  right: 10%;
  text-align: right;
}
.banners > div.banner-9 .s-desc > span {
  left: auto;
  right: 10%;
}

.product-rating-status .review-link {
  margin-left: 0;
  margin-right: 10px;
}

@media (min-width: 768px) {
  .single-category .box-heading {
    float: right;
  }
}
.single-category .nav-tabs {
  float: left;
}

.bottom .single-category .nav-tabs {
  float: right;
}

.bottom .single-category .image {
  float: right;
}
.bottom .single-category .caption {
  text-align: right;
  padding-left: 0;
  padding-right: 33px;
}

.common-home .article-sub-title > span + span {
  margin-right: 0;
}

.newsletter input {
  margin-right: 0;
  margin-left: 16px;
}

footer .box .box-heading h3 {
  text-align: right;
}

.instagram {
  padding-right: 0;
  padding-left: 25px;
}

.newsletter-popup .tm-login-form {
  margin-right: 0;
  margin-left: 10px;
}
.newsletter-popup .newsletter-popup-btn i {
  float: right;
  margin-left: 5px;
}

.newsletter-popup-close-btn {
  right: auto;
  left: 16px;
}

.rd-mobilemenu_ul ul {
  padding-right: 0;
  margin-right: 0;
}

@media (max-width: 1199px) {
  .instagram {
    padding-left: 0;
  }
}
@media (max-width: 767px) {
  .pagination > li + li {
    margin-left: 0;
    margin-right: 15px;
  }

  .box-subcat li .image {
    float: right;
    padding-right: 0;
    padding-left: 15px;
  }
  .box-subcat li .name {
    left: auto;
    right: 30%;
  }

  header .header-btn {
    margin-right: 0;
  }
  header .header-btn:before {
    left: auto;
    right: auto;
    margin-right: 0;
    margin-left: 5px;
  }
  header .header-btn + .header-btn {
    margin-right: 0;
  }

  .rd-mobilepanel_title {
    right: 42px;
  }

  header .nav {
    margin-left: 0;
    margin-right: 14px;
  }

  .bottom .single-category .box-heading {
    float: right;
    margin-right: 0;
    margin-left: 3px;
  }

  .common-home .blog_articles .article-sub-title span + span {
    margin-left: 0;
    margin-right: 0;
  }

  .swiper-slide .btn-slide {
    float: none;
  }

  .box-language, .box-currency {
    margin-left: 0;
    margin-right: 12px !important;
  }

  aside .box .box-heading:after, .column-left .box .box-heading:after {
    right: auto;
    left: 0;
  }

  .single-category .nav-tabs {
    float: right;
  }

  .nav-tabs > li + li {
    margin-left: 0;
    margin-right: 8px;
  }

  footer > .container,
  footer .box .box-heading h3 {
    text-align: center;
  }
}
@media (max-width: 480px) {
  .tm-deal-banner__description .pull-right.btn-primary {
    margin-left: 0;
    margin-right: 15px;
  }
}
