<div class="box carousel-block">
	<div class="swiper-viewport">
	  <div id="carousel{{ module }}" class="swiper-container">
		<div class="swiper-wrapper">
		{% for banner in banners %}
		  <div class="swiper-slide text-center">
			{% if banner.link %}
			<a href="{{ banner.link }}">
				<img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" />
				{% if (banner.description) %}
					<div class="s-desc">{{ banner.description }}</div>
				{% endif %}
			</a>
			{% else %}
				<img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" />
				{% if (banner.description) %}
					<div class="s-desc">{{ banner.description }}</div>
				{% endif %}
			{% endif %}
		  </div>
		  {% endfor %}
		  </div>
		  <div class="swiper-pagination carousel{{ module }}"></div>
		  <div class="swiper-pager">
			<div class="swiper-button-next"></div>
			<div class="swiper-button-prev"></div>
		  </div>
	  </div>	  
	</div>
</div>
<script type="text/javascript"><!--
$('#carousel{{ module }}').swiper({
	mode: 'horizontal',
	slidesPerView: 6,
	nextButton: '.swiper-button-next',
    prevButton: '.swiper-button-prev',
	loop: true,
	breakpoints: {
		479: {
			slidesPerView: 1
		},
		767: {
			slidesPerView: 3
		},
		1199: {
			slidesPerView: 5
		}
	}
});
--></script>