<div class="col-xs-6 col-sm-3 col-md-2">
	<h3 class="box-heading">{{ text_information }}</h3>
	<ul class="box-content list-unstyled">
		{% if (informations) %} 
			{% for information in informations %} 
				<li><a href="{{ information['href'] }}">{{information['title']}}</a></li>
			{% endfor %}
		{% endif %}
		<li><a href="{{ contact }}">{{text_contact}}</a></li>
		<li><a href="{{ return }}">{{text_return}}</a></li>
		{% if simple_blog_found %}
			<li><a href="{{ simple_blog }}">{{ simple_blog_footer_heading }}</a></li>			
		{% endif %}
	</ul>		
</div>
