<div class="box category">
	<div class="box-heading hidden">
		<h3>{{ heading_title }}</h3>
	</div>	
	<div class="box-content">
		<div class="box-category">
			<div class="box-carousel">
			{% for category in categories %}
				<div>
					<a href="{{ category['href'] }}">
					{% if category['thumb'] %} 
						<img src="{{ category['thumb'] }}" alt="" title="" class="img-thumbnail" />
						<span class="category_name">
							{{ category['name'] }}<br>							
							<span class="btn btn-primary">{{ button_shop }}</span>
						</span>						
					{% else %}
						{{ category['name'] }}
					{% endif %}
					</a>
				</div>
			{% endfor %}
			</div>
		</div>
	</div>
</div>

<script>
	;(function ($) {
		$(window).load(function () {
			var o = $('.box.category');
			o.find('li a').each(function () {
				if ($(location).attr('href').indexOf($(this).attr('href')) >= 0){
					$(this).addClass('active');
					return;
				}
			});
		});		
	})(jQuery);
</script>